[submodule ".registry"]
	path = .registry
	url = https://github.com/ropensci-staging/ropensci-staging.r-universe.dev
	branch = HEAD
[submodule "ActiGlobe"]
	path = ActiGlobe
	url = https://github.com/cwy20030/ActiGlobe
[submodule "RAQSAPI"]
	path = RAQSAPI
	url = https://github.com/USEPA/RAQSAPI
[submodule "brapiR2"]
	path = brapiR2
	url = https://github.com/josh45-source/brapiR2
[submodule "ciecl"]
	path = ciecl
	url = https://github.com/Rodotasso/ciecl
[submodule "coevolve"]
	path = coevolve
	url = https://github.com/ScottClaessens/coevolve
[submodule "cowfootR"]
	path = cowfootR
	url = https://github.com/juanmarcosmoreno-arch/cowfootR
[submodule "ibger"]
	path = ibger
	url = https://github.com/StrategicProjects/ibger
[submodule "logolink"]
	path = logolink
	url = https://github.com/danielvartan/logolink
[submodule "openFDA"]
	path = openFDA
	url = https://www.github.com/simpar1471/openFDA
[submodule "rcrisp"]
	path = rcrisp
	url = https://github.com/CityRiverSpaces/rcrisp
